@inherits LayoutComponentBase

<div>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Blazor TaskManager</a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/task-list">Listează Taskuri</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/task-add">Adaugă Task</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/blazor-counter">Counter</NavLink>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        @Body
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - TaskManager - <a href="/privacy">Privacy</a>
        </div>
    </footer>
</div>
